.contenedor-perfil {
  width: 1200px;
  height: 300px;
  display: flex;
  background-color: rgba(8, 159, 197, 0.596);
  margin: 30px 50px 30px;
  justify-content: center;
  padding: 20px;
  border-radius: 25px;
}

.imagen-perfil {
  height: 100%;
  width: auto;
  border: 7px solid rgb(250, 7, 7);
  border-radius: 15px;
}

.contenedor-texto-perfil {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 25px;
  padding: 30px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Añade un margen superior para separar los botones de redes sociales */
}

.redes-sociales a {
  display: inline-block;
  margin: 0 10px; /* Espacio entre los botones de redes sociales */
}

.redes-sociales img {
  width: 40px; /* Tamaño de los iconos de redes sociales */
  height: auto;
}
